venv
*.pyc
staticfiles
.env
db.sqlite3
getting-started/*
hello/__pycache__
hello/migrations
hello/views/__pycache__
hello/templatetags/__pycache__
views/__init__.py
files
scheduled_job/__pycache__
.vscode
.bash_profile
.bashrc
.env.save
.envrc 

Pipfile.lock 



